/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: blue;
}

.navbar {
  display: flex;
  padding: 10px 0;
  background-color: black;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  font-size: small;
  color: white;
  display: flex;
  list-style: none;
  margin-left: 20px;
  border: 1px solid black;
}

.navbar ul li:hover {
  border-bottom: 1px solid red;
  cursor: pointer;
} */